	<form id="register" class="form-horizontal" method="post" action="controllers/register.php">
		<div class="control-group">
			<label class="control-label" for="email">Email:</label>
			<div class="controls">
				<input type="email" id="email" placeholder="user@example.com">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="pass">Password:</label>
			<div class="controls">
				<input type="password" id="pass" placeholder="Password">
			</div>
		</div>
		<div class="control-group offset2">
			<button type="submit" class="btn">Register</button>
		</div>
			</form>
